pre {
    white-space: pre-line;
}

.primer_block {
    display: flex;
    padding-left: 15px;
}

.value  {
    padding-left: 10px;
    width: 10%;
    color: green;
    border: 2px solid rgb(127, 197, 255);
}

.first {
    padding-left: 10px;
    width: 15%;
    border: 2px solid rgb(127, 197, 255);
}

.primer {
    padding-left: 10px;
    width: 25%;
    border: 2px solid rgb(127, 197, 255);
}

.second {
    padding-left: 10px;
    text-indent: 20px;
    width: 50%;
    border: 2px solid rgb(127, 197, 255);
}

.primer1 {
    background: #fc0;
    margin: 10px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: relative;
    animation: text 5s normal infinite;
}

.primer2 {
    background: #fc0;
    margin: 10px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: relative;
    animation: text 5s alternate infinite;
}

.primer3 {
    background: #fc0;
    margin: 10px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: relative;
    animation: text 5s reverse infinite;
}

.primer4 {
    background: #fc0;
    margin: 10px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: relative;
    animation: text 5s alternate-reverse infinite;
}

@keyframes text {
    from { left: 0; }
    to { left: 100%; transform: translateX(-80px); }
}