pre {
    white-space: pre-line;
}

.primer_block {
    display: flex;
    padding-left: 15px;
}

.first {
    padding-left: 10px;
    width: 15%;
    border: 2px solid rgb(127, 197, 255);
}

.primer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../../images/08.jpg);
    background-repeat: no-repeat;
    background-position: center;
    padding-left: 10px;
    width: 85%;
    border: 2px solid rgb(127, 197, 255);
}

.primer1 {
    text-align: center;
    width: auto;
    color: red;
    padding: 20px;
    backdrop-filter: blur(6px);
}