.font {
    font: italic 20px sans-serif;
}

.family {
    font-family: Courier;
}

.kerning {
    font-kerning: normal;
}

.size {
    font-size: 25px;
}

.stretch {
    font-stretch: ultra-condensed;
}

.style {
    font-style: italic;
}

.variant {
    font-variant: small-caps;
}