.border {
    margin: 10px;
    border: 3px solid red;
}

.padding {padding: 15px 20px;}

.block {padding-block: 10%;}

.end {padding-block-end: 10%;}

.start {padding-block-start: 10%;}

.bottom {padding-bottom: 5%;}

.inline {padding-inline: 10%;}

.inline-end {padding-inline-end: 10%;}