.border {
    margin: 10px;
    padding: 6px;
    border: 3px double blue;
}

@media print {
    .after {
        page-break-after: always;
    } 
}

@media print {
    .before {
        page-break-before: always;
    } 
} 