.border {
    margin: 10px;
    padding: 5px;
    border: 3px dotted red;
    background: burlywood;
}

.perspective {
    perspective: 500px;
}

.origin {
    perspective: 500px;
    perspective-origin: right bottom;
}

.pr1 {
    width: auto;
    transform: rotateY(25deg);
}