.pr1 {
    margin: 5px;
}

.pr1 span {
    width: 150px;
    float: left;
}

.pr1 input:required {
    text-align: center;
    background-color: greenyellow;
    border: 2px solid red;
    border-radius: 5px;
}

#area {
    min-width: 10%;
    max-width: 70%;
}