.text {
    padding: 5px;
}

.align {text-align: justify;}
.align2 {text-align: left;}
.align3 {text-align: right;}
.align4 {text-align: center;}

.align-last {
    text-align: justify;
    text-align-last: right;
}

.decoration {text-decoration: underline solid red;}
.color {text-decoration-color: blue;}
.line {text-decoration-line: overline;}
.style {text-decoration-style: wavy;}
.skip {text-decoration-skip-ink: none;}

.emphasis {
    font-size: 2em;
    text-emphasis: '?' red;
    -webkit-text-emphasis: '?' red;
}

.emphasis-color {
    text-emphasis-color: green;
    -webkit-text-emphasis-color: green;
}

.emphasis-position {
    text-emphasis-position: under;
    -webkit-text-emphasis-position: under;
}

.emphasis-style {
    text-emphasis-style: triangle;
    -webkit-text-emphasis-style: triangle;
}

.indent {text-indent: 30%;}

.orientation {
    background: orange;
    height: 250px;
    margin: 3px;
    padding: 5px;
    writing-mode: vertical-rl;
    text-orientation: mixed;
}

.overflow {
    background: greenyellow;
    width: 250px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.shadow {
    font-size: 2em;
    text-shadow: 2px 1px 1px red, 0px 0px 30px blue;
}