.text {
    padding: 5px;
}

.align {text-align: justify;}
.align2 {text-align: left;}
.align3 {text-align: right;}
.align4 {text-align: center;}

.align-last {
    text-align: justify;
    text-align-last: right;
}

.decoration {
    text-decoration: underline solid red;
}

.decoration-color {
    text-decoration: line-through;
    text-decoration-color: blue;
}