.transition {
    padding: 5px 2px 0px;
    position: absolute;
    top:-60px;
    left: 500px;
    width: 350px;
    background: orange;
    text-align: center;
    transition: top 3s ease-out;
    border-radius: 10px;
}

.transition:hover { 
    top: 300px;
}

#arrow {
    font-size: 2em;
    font-weight: bold;
}