.transition {
    padding: 5px 2px 0px;
    position: absolute;
    top:-60px;
    left: 5px;
    width: 350px;
    background: orange;
    text-align: center;
    font-size: 1em;
    transition: top 2s ease-out, left 3s 1.5s, font-size 1s 3.5s;
    border-radius: 10px;
}

.transitionClick {
    font-size: 180%; 
    top: 330px;
    left: 550px;
}

#arrow {
    font-size: 1.8em;
    font-weight: bold;
}