.visibility {
    margin: 10px;
    padding: 5px;
    width: 400px;
    background: yellowgreen;
    border: 2px solid black;
}

.pr2 {visibility: hidden;}

.pr1:hover + .pr2 {
    visibility: visible;
}